body{
    margin: 0;
    padding: 0;
    background: url(background.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.calculateBox{
    width: 320px;
    height: 420px;
    background: #000000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.calculateBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.calculateBox p2{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
}

.calculateBox input{
    width: 100%;
    margin-bottom: 20px;
}

.calculateBox input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.calculateBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #6162c5;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.calculateBox input[type="submit"]:hover{
    cursor: pointer;
    background: #e8dbff;
    color: #8200bf;
}

.container{
    left: calc(50% - 25px);
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.calculateBox table {
    text-align: center;
    border-collapse: separate;
    border-bottom: 1px solid white;
    width: 260px;
}

.calculateBox td {
    color: #fff;
    padding: 2px 0px;
}

.resultBox{
    width: 600px;
    height: 300px;
    background: rgb(0, 0, 0);
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.resultBox button{
    border: none;
    outline: none;
    height: 40px;
    width: 450px;
    background: #e0dede;
    color: #434343;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    left: 12%;
    bottom: 1%;
}

.resultBox button:hover{
    cursor: pointer;
    background: #f9f7f7;
    color: #5e5e5e;
}

.resultBox table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #e0dede;
    border: 15px solid #e0dede;
    border-radius: 20px;
}

.pictureBox{
    width: 620px;
    height: 360px;
    background: rgba(232, 219, 255, 0.56);
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 20px;
}

.picture {
    border-radius: 20px;
}

